@import "tailwindcss";

html
{
	margin: 0;
	padding: 2rem 2rem 2rem 2rem;
	font-family: 'Neue Montreal';
  font-weight: 300;
}

.classButton {
	font-family: 'Neue Montreal';
	font-weight: 400;
	letter-spacing: 0.05em;
}
